/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$form-margin-top-lg:             $paragraph-margin-top-lg;
$form-margin-bottom-lg:          $paragraph-margin-bottom-lg;
$form-margin-top-sm:             $paragraph-margin-top-sm;
$form-margin-bottom-sm:          $paragraph-margin-bottom-sm;

$input-cell-margin-bottom-lg:    15px;
$input-cell-margin-bottom-sm:    15px;

$label-font-lg:                  $body-size-lg;
$label-font-sm:                  $body-size-sm;
$label-line-height:              1.2;
$label-font-weight:              400;

$label-margin-bottom-lg:         15px;
$label-margin-bottom-sm:         8px;

$input-font-lg:                  $body-size-lg;
$input-font-sm:                  $body-size-sm;
$input-line-height:              1.4;
$input-font-weight:              400;

$input-border-width:             $button-border-width;
$input-border-style:             $button-border-style;
$input-border-radius:            $button-border-radius;
$input-border-color:             $color-grey-400;
$input-border-color-focus:       $color-grey-500;

$input-color:                    $body-color;
$input-placeholder-color:        $color-grey-500;

$input-background:               $color-white;

$input-padding-top-lg:           13px;
$input-padding-right-lg:         17px;
$input-padding-bottom-lg:        13px;
$input-padding-left-lg:          17px;

$input-padding-top-sm:           $button-padding-top-sm;
$input-padding-right-sm:         $button-padding-right-sm;
$input-padding-bottom-sm:        $button-padding-bottom-sm;
$input-padding-left-sm:          $button-padding-left-sm;

$input-small-size:               12px;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

form {
  margin-top: $form-margin-top-sm;
  margin-bottom: $form-margin-bottom-sm;

  @include media-up(md) {
    margin-top: $form-margin-top-lg;
    margin-bottom: $form-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


/* --------- TEMPLATES --------- */

.form {

  &__row {
    @include cell-row;
    // @include flex-content-x(center);
  }

  &__col {
    @include cell;

    &--full {
      @include cell-span(12);
    }
    
    &--half {
      @include cell-span(6);
    }

  }

  &__footer {
    @include cell;
    @include cell-span(12);
    padding-top: 40px;

    @include media-up(md) {
      padding-top: 40px;
    }

  }

  &__note {
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-up(md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }

  &__help {
    display: block;
    font-size: $input-small-size;
    color: $color-grey-600;
    margin-top: 10px;
  }

  &__input {
    position: relative;
    margin-bottom: $input-cell-margin-bottom-sm;
    
    @include media-up(md) {
      margin-bottom: $input-cell-margin-bottom-lg;
    }
  
    &:first-child {
      margin-top: 0;
    }
  
    &:last-child {
      margin-bottom: 0;
    }

  }
  
}


/* --------- LABLES --------- */

label, .label {
  display: inline-block;
  font-size: $label-font-sm;
  font-weight: $label-font-weight;
  line-height: $label-line-height;
  margin-bottom: $label-margin-bottom-sm;

  @include media-up(md) {
    font-size: $label-font-lg;
    margin-bottom: $label-margin-bottom-lg;
  }

}


/* --------- INPUTS --------- */

input, 
textarea,
select {
  display: block;
  width: 100%;
  // height: calc(1.5em + .75rem + 2px);
  padding: $input-padding-top-sm $input-padding-right-sm $input-padding-bottom-sm $input-padding-left-sm;
  font-size: $input-font-sm;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-background;
  background-clip: padding-box;
  border: $input-border-width $input-border-style $input-border-color;
  @include border-radius ($input-border-radius);
  @include transition (border 0.3s ease-in-out, background-color 0.3s ease-in-out);

  @include media-up(md) {
    font-size: $input-font-lg;
    padding: $input-padding-top-lg $input-padding-right-lg $input-padding-bottom-lg $input-padding-left-lg;
  }

  @include placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    border-color: $input-border-color-focus;
    @include box-shadow (0 2px 3px rgba($color-grey-600, 0.2));
  }

  &:disabled, &[readonly] {
    background-color: $color-grey-300;
    color: $input-placeholder-color;
    opacity: 1;
    pointer-events: none;

    // &:focus {
    //   border-color: $input-border-color;
    //   @include box-shadow (0 0 0 rgba($color-grey-600, 0));
    // }

  }

}

textarea {
  min-height: 268px;
  height: auto;
  overflow: auto;
  resize: vertical;
}


/* --------- CHECKBOX & RADIO --------- */

// $checkboxradio-width: 2.2rem;
// $checkboxradio-height: 2.2rem;

// $checkboxradio-width-lg: 3.2rem;
// $checkboxradio-height-lg: 3.2rem;

// input[type=checkbox],
// input[type=radio] {
//   position: relative;
//   cursor: pointer;
//   overflow: hidden;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background: transparent;
//   height: $checkboxradio-height;
//   width: $checkboxradio-width;
//   display: inline-block;
//   vertical-align: text-bottom;
//   margin-right: 1rem;
//   padding: 0;
//   border: 0;
//   @include border-radius(0);
// }

// input[type=checkbox]::after,
// input[type=radio]::after {
//   position: relative;
//   // vertical-align: text-bottom;
//   content: "";
//   display: block;
//   border-width: $form-border-width;
//   border-style: $form-border-style;
//   border-color: $form-border-color;
//   background: $form-background;
//   height: $checkboxradio-height;
//   width: $checkboxradio-width;
//   @include border-radius ($form-border-radius);
// }

// input[type=checkbox]::before,
// input[type=radio]::before {
//   position: absolute;
//   top: 0;
//   font-family: $fontawesome;
//   font-weight: 900;
//   content: "\f00c";
//   display: block;
//   font-size: 1.2rem;
//   text-indent: 0.6rem;
//   line-height: $checkboxradio-height - 0.1rem;
//   text-align: left;
//   height: $checkboxradio-height;
//   width: $checkboxradio-width;
//   color: transparent;
//   z-index: 1;
// }

// input[type=checkbox]:focus, 
// input[type=radio]:focus {
//   outline: 0;
//   outline-offset: 0;
// }

// input[type=checkbox]:checked::before,
// input[type=radio]:checked::before {
//   color: $color-black;
// }

// input[type=checkbox],
// input[type=radio] {

//   &.checkbox-lg,
//   &.radio-lg {
//     height: $checkboxradio-height-lg;
//     width: $checkboxradio-width-lg;

//     &::after {
//       height: $checkboxradio-height-lg;
//       width: $checkboxradio-width-lg;
//     }

//     &::before {
//       line-height: $checkboxradio-height-lg - 0.1rem;
//       height: $checkboxradio-height-lg;
//       width: $checkboxradio-width-lg;
//       font-size: 1.8rem;
//       text-indent: 0.8rem;
//     }

//   }

// }


/* --------- Validation --------- */

input, 
textarea,
select {

  &.error {
    border-color: $color-danger;
  }

}

.error-message {
  display: block;
  font-size: $input-small-size;
  color: $color-danger;
  margin-top: 10px;

  &::before {
    display: inline-block;
    font-family: $font-fontawesome;
    font-weight: 900;
    content: "\f071";
    margin-right: 8px;
  }

}