/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$link-color:              lighten($body-color, 20%);
$link-decoration:         underline;
$link-weight:             700;
$link-hover-color:        $color-black;
$link-hover-decoration:   underline;
$link-focus-outline:      1px dotted $color-grey-500;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

a:focus,
button:focus {
	outline: $link-focus-outline;
  text-decoration: none;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: $link-weight;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  @include hover {
    color: $link-hover-color;
    text-decoration: none;
    outline: 0;
  }

}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:focus,
button:focus,
input[type="submit"]:focus {
	outline: $link-focus-outline;
  text-decoration: none;
}