/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$list-margin-top-lg:      $paragraph-margin-top-lg;
$list-margin-bottom-lg:   $paragraph-margin-top-lg;
$list-margin-top-sm:      $paragraph-margin-top-sm;
$list-margin-bottom-sm:   $paragraph-margin-top-sm;

$list-indent:             25px;
$list-bullet-size:        6px;
$list-bullet-color:       $body-color;
$list-weight:             600;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

@mixin list-bullet {
  list-style: none;
  padding-left: $list-indent;

  li {
    position: relative;
    margin: 0;

    &::before {
      position: absolute;
      left: -$list-indent;
      top: 10px;
      display: block;
      content: '';
      width: $list-bullet-size;
      height: $list-bullet-size;
      background: $list-bullet-color;
      @include border-radius (50%);
    }
    
  }

}

@mixin list-number {
  list-style: none;
  padding-left: $list-indent;
  counter-reset: custom-counter;

  li {
    position: relative;
    margin: 0;
    counter-increment: custom-counter;

    &::before {
      position: absolute;
      left: -$list-indent;
      top: 0;
      display: block;
      content: counter(custom-counter) ". ";
      color: $list-bullet-color;
      font-weight: $list-weight;
    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

ol,
ul {
  list-style-position: outside;
  padding-left: $list-indent;
  margin-top: $list-margin-top-sm;
  margin-bottom: $list-margin-bottom-sm;

  @include media-up(sm) {
    margin-top: $list-margin-top-lg;
    margin-bottom: $list-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


.list-unstyled {
  @include list-unstyled;
}


.list-bullet {
  @include list-bullet;
}


.list-number {
  @include list-number;
}