/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$table-margin-top-lg:       $paragraph-margin-top-lg;
$table-margin-bottom-lg:    $paragraph-margin-top-lg;
$table-margin-top-sm:       $paragraph-margin-top-sm;
$table-margin-bottom-sm:    $paragraph-margin-top-sm;

$table-padding-top-lg:      15px;
$table-padding-right-lg:    18px;
$table-padding-bottom-lg:   15px;
$table-padding-left-lg:     18px;

$table-padding-top-sm:      4px;
$table-padding-right-sm:    10px;
$table-padding-bottom-sm:   4px;
$table-padding-left-sm:     10px;

$table-th-border-width:     1px;
$table-th-border-style:     solid;
$table-th-border-color:     $color-grey-500;

$table-td-border-width:     0;
$table-td-border-style:     solid;
$table-td-border-color:     $color-grey-500;

$table-th-font-weight:      700;

$table-tr-even-background:  $color-white;
$table-tr-odd-background:   $color-grey-200;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-top: $table-margin-top-sm;
  margin-bottom: $table-margin-bottom-sm;

  @include media-up(sm) {
    margin-top: $table-margin-top-lg;
    margin-bottom: $table-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  thead {

    th {
      // text-transform: uppercase;

      &:nth-child(even) {
        text-align: left;
      }
  
    }

  }

  tbody {

    tr {

      &:nth-child(even) {
        background: $table-tr-even-background;
      }
  
      &:nth-child(odd) {
        background: $table-tr-odd-background;
      }
  
    }

    td {

      &:nth-child(even) {
        text-align: left;
      }
  
    }

  }

  th, td {
    vertical-align: top;
    border-top: $table-td-border-width $table-td-border-style$table-td-border-color;
    padding: $table-padding-top-sm $table-padding-right-sm $table-padding-bottom-sm $table-padding-left-sm;

    @include media-up(sm) {
      padding: $table-padding-top-lg $table-padding-right-lg $table-padding-bottom-lg $table-padding-left-lg;
    }

  }

  thead th {
    vertical-align: bottom;
    border-bottom: $table-th-border-width $table-th-border-style$table-th-border-color;
    font-weight: $table-th-font-weight;
  }

  caption {
    margin-bottom: 10px;
    font-weight: 400;
  }
  

}


.table-responsive {
  margin-top: $table-margin-top-lg;
  margin-bottom: $table-margin-bottom-lg;

  @include media-down(sm) {
    margin-top: $table-margin-top-sm;
    margin-bottom: $table-margin-bottom-sm;

    table {
      margin: 0;
    }

    caption,
    table,
    thead, 
    tbody, 
    th, 
    td, 
    tr { 
      display: block; 
    }

    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody {
      border-top: $table-th-border-width $table-th-border-style$table-th-border-color;

      th, td { 
        border: none;
        border-bottom: $table-td-border-width $table-td-border-style$table-td-border-color; 
        position: relative;
        white-space: normal;
        text-align: left;
        padding: $table-padding-top-sm $table-padding-right-sm $table-padding-bottom-sm 40%;
        
        &:before { 
          position: absolute;
          top: $table-padding-top-sm;
          left: $table-padding-left-sm;
          width: 40%;  
          white-space: nowrap;
          text-align: left;
          font-weight: $table-th-font-weight;
          content: attr(data-title);
        }
  
      }

    }

  }

}