// https://medium.com/@adamwojnicki/lets-build-a-simple-responsive-navigation-bar-with-html-css-and-a-little-bit-of-vanilla-js-5abba28da32e

.navigation { 
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    padding: 15px 0;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;

      // @include media-up(xl) {
      //   margin-right: $list-inline-padding;
      // }

    }

    &:before {
      display: none;
    }

    &:hover > ul,
    &:focus-within > ul {
      visibility: visible;
      display: block;
    }

  }

}