/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

/* --------- LARGE DEVICE --------- */

@include media-up(sm) {

  .navigation { 
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      padding: 15px 0;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;

        // @include media-up(xl) {
        //   margin-right: $list-inline-padding;
        // }

      }

      &:before {
        display: none;
      }

      &:hover > ul,
      &:focus-within > ul {
        visibility: visible;
        display: block;
      }

    }

  }

}


/* --------- SMALL DEVICE --------- */

@include media-down(sm) {

  .navigation { 
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      padding: 15px 0;
      display: block;

      &:before {
        display: none;
      }

      &:hover > ul,
      &:focus-within > ul {
        visibility: visible;
        display: block;
      }

    }

  }

}


/* --------- BURGER --------- */

.burger {
  position: relative;
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 36px;
  width: 41px;
  padding: 0 6px 4px;

  // @include media-up(sm) {
  //   display: none;
  // }

  &__inner,
  &__inner::after,
  &__inner::before {
    position: absolute;
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #fff;
  }

  &__inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms; 
    
    &::after,
    &::before {
      display: block;
      content: "";
    }

    &::before {
      top: -10px;
      @include transition (top 75ms ease .12s,opacity 75ms ease);
    }

    &::after {
      bottom: -10px;
      @include transition (bottom 75ms ease .12s);
      @include transform (75ms cubic-bezier(.55,.055,.675,.19));
    }

  }

  &.active {

    .burger {

      &__inner {
        @include transition-delay (.12s);
        @include transition-timing-function (cubic-bezier(.215,.61,.355,1));
        @include transform (rotate(45deg));

        &::before {
          top: 0;
          opacity: 0;
          @include transition (top 75ms ease,opacity 75ms ease .12s);
        }

        &::after {
          bottom: 0;
          @include transition (bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s);
          @include transform (rotate(-90deg));
        }

      }

    }

  }

}