/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin font-face($font-family, $folder, $name) {

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Light.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Light.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Light.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Light.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Light.svg##{$name}-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-LightItalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-LightItalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-LightItalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-LightItalic.svg##{$name}-LightItalic') format('svg');
    font-weight: 300;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Regular.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Regular.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Regular.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Regular.svg##{$name}-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Italic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Italic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Italic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Italic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Italic.svg##{$name}-Italic') format('svg');
    font-weight: 400;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Medium.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Medium.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Medium.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Medium.svg##{$name}-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-MediumItalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-MediumItalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-MediumItalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-MediumItalic.svg##{$name}-MediumItalic') format('svg');
    font-weight: 500;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Semibold.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibold.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibold.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibold.svg##{$name}-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Semibolditalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibolditalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibolditalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Semibolditalic.svg##{$name}-Semibolditalic') format('svg');
    font-weight: 600;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Bold.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Bold.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Bold.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Bold.svg##{$name}-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-BoldItalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-BoldItalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-BoldItalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-BoldItalic.svg##{$name}-BoldItalic') format('svg');
    font-weight: 700;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Extrabold.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabold.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabold.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabold.svg##{$name}-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Extrabolditalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabolditalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabolditalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Extrabolditalic.svg##{$name}-Extrabolditalic') format('svg');
    font-weight: 800;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-Black.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-Black.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-Black.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-Black.svg##{$name}-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }

  @font-face {
    font-family: '#{$font-family}';
    src: url('../assets/fonts/#{$folder}/#{$name}-BlackItalic.eot');
    src: url('../assets/fonts/#{$folder}/#{$name}-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/#{$folder}/#{$name}-BlackItalic.woff') format('woff'),
         url('../assets/fonts/#{$folder}/#{$name}-BlackItalic.ttf') format('truetype'),
         url('../assets/fonts/#{$folder}/#{$name}-BlackItalic.svg##{$name}-BlackItalic') format('svg');
    font-weight: 900;
    font-style: Italic;
    font-stretch: normal;
    unicode-range: U+0020-2074;
  }
  
}

/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

@include font-face(SourceSansPro, sourcesans, SourceSans);