/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin hidden($breakpoints: $breakpoint-widths) {
  @each $breakpoint in $breakpoints {
    @include media-up ($breakpoint) {
      display: none !important;
    }
  }
}


@mixin visable($breakpoints: $breakpoint-widths) {
  @each $breakpoint in $breakpoints {
    @include media-down ($breakpoint) {
      display: none !important;
    }
  }
}


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

.hidden {
  display: none;

  &-xs {
    @include hidden(md);
  }

  &-sm {
    @include hidden(md);
  }

  &-md {
    @include hidden(md);
  }

  &-lg {
    @include hidden(lg);
  }

}

.visable {

  &-xs {
    @include visable(md);
  }

  &-sm {
    @include visable(md);
  }

  &-md {
    @include visable(md);
  }

  &-lg {
    @include visable(lg);
  }

}