/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition...){
 -webkit-transition: $transition;
 -moz-transition: $transition;
 -o-transition: $transition;
 -ms-transition: $transition;
 transition: $transition;
}

@mixin transform($transform...){
 -webkit-transform: $transform;
 -moz-transform: $transform;
 -o-transform: $transform;
 -ms-transform: $transform;
 transform: $transform;
}

@mixin box-shadow($box-shadow){
 -webkit-box-shadow: $box-shadow;
 -moz-box-shadow: $box-shadow;
 box-shadow: $box-shadow;
}

@mixin text-shadow($text-shadow){
 -webkit-text-shadow: $text-shadow;
 -moz-text-shadow: $text-shadow;
 -o-text-shadow: $text-shadow;
 -ms-text-shadow: $text-shadow;
 text-shadow: $text-shadow;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin transition-timing-function($transition-timing-function) {
  -webkit-transition-timing-function: $transition-timing-function;
  -moz-transition-timing-function: $transition-timing-function;
  -o-transition-timing-function: $transition-timing-function;
  transition-timing-function: $transition-timing-function;
}

@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  -moz-transition-property: $transition-property;
  -o-transition-property: $transition-property;
  transition-property: $transition-property;
}

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin transform-origin($transition-origin) {
  -webkit-transform-origin: $transition-origin;
  -moz-transform-origin: $transition-origin;
  -o-transform-origin: $transition-origin;
  -ms-transform-origin: $transition-origin;
  transform-origin: $transition-origin;
}

@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
  -moz-user-select: $user-select;
  -ms-user-select: $user-select;
  user-select: $user-select;
}

@mixin backface-visibility ($backface-visibility) {
  -webkit-backface-visibility: $backface-visibility;
  -moz-backface-visibility: $backface-visibility;
  -ms-backface-visibility: $backface-visibility;
  -o-backface-visibility: $backface-visibility;
  backface-visibility: $backface-visibility;
}

@mixin perspective ($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  -ms-perspective: $perspective;
  -o-perspective: $perspective;
  perspective: $perspective;
}

@mixin background-size ($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}