.main {
  background: $color-white;
  overflow-x: hidden;
  padding-top: $header-height-sm; //variable in header.scss

  @include media-up(md) {
    padding-top: $header-height-lg; //variable in header.scss
  }

}