/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$nav-breakpoint: md;
$nav-width-sm: 300px;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

/* --------- LOCK BODY SCROLL WHEN NAV OPEN --------- */

html {

  &.js-nav-active {
    overflow: hidden;
  }

  /* --- TURN OFF SCROLL BARS FOR SMALL SCREEN (FOR DEV ON DESKTOP) --- */

  @include media-down($nav-breakpoint) { 
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    &::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }

  }

}


/* --------- LARGE DEVICE --------- */

@include media-up($nav-breakpoint) {

  .navigation {
    position: relative !important;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        white-space: nowrap;
        padding: 15px 0;
        line-height: 1;

        &:before,
        .dropdown-toggle {
          display: none;
        }

        &:hover > ul,
        &:focus-within > ul {
          visibility: visible;
          display: block;
        }

        a {
          display: block;
          white-space: nowrap;
          font-weight: 400;
          font-size: 16px;
          padding: 2px 4px;
          @include transition(color 0.3s ease-out);
        }

        &.menu-item-has-children {

          > a::after {
            display: inline-block;
            margin-left: 7px;
            font-family: $font-fontawesome;
            font-style: normal;
            line-height: 1;
            font-weight: 900;
            content: '\f107';
            margin-left: 10px;
            @include transition(all 0.3s ease-out);
          }
        
        }

        ul,
        ul ul {
          position: absolute;
          display: none;
          visibility: hidden;
          width: 100%;
          width: fit-content;
          z-index: 99999;
          text-align: left;

          li {
            display: block;
            height: auto;
            width: 100%;
            border: 0;
            padding: 0;
            line-height: 1;

            a {
              width: 100%;
              min-width: 140px;
              font-weight: 400;
              font-size: 14px;
              border-top: 0;
              padding: 12px;
            }

            &:hover,
            &:focus-within {

              > a {
                text-decoration: none;
              }

            }

            &.menu-item-has-children {

              > a::after {
                margin-left: 10px;
                content: '\f105';
              }
      
            }

          }

        }

      }

    }


    /* --- LEVEL ONE UNIQUE --- */

    > ul {

      > li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 15px;
        }

        > a {
          color: $color-grey-200;

          @include hover-focus {
            color: $color-white;
          }

        }

        &.menu-item-has-children {

          &:hover,
          &:focus-within {

            > a {

              &::after {
                @include transform (rotate(180deg));
              }

            }

          }

        }

        &.current-menu-item {

          > a {
            color: $color-black;

            &::after {
              color: $color-black;
            }

          }

          &:hover,
          &:focus-within {

            > a {
              color: $color-black;

              &::after {
                color: $color-black;
              }

            }

          }

        }

        &.current-menu-parent {

          > a {
            color: $color-black;
          }

          &:hover,
          &:focus-within {

            > a {
              color: $color-black;

              &::after {
                color: $color-black;
              }

            }

          }

        }


        /* --- LEVEL TWO UNIQUE --- */

        > ul {
          top: 100%;
          left: 0;

          > li {
            padding: 0;

            > a {
              color: $color-white;
              background-color: $color-grey-500;
            }

            &:not(:last-child) {
              
              > a {
                border-bottom: 1px solid $color-grey-600;
              }

            }

            &:hover,
            &:focus-within {

              > a {
                background: $color-grey-700;
              }

            }

            &.current-menu-item {

              > a {
                background: $color-black;
              }

              &:hover,
              &:focus-within {

                > a {
                  background: $color-black;
                }

              }

            }

            /* --- LEVEL THREE UNIQUE --- */

            > ul {
              top: 0;
              left: 100%;
              margin: -1px 0 0 0;

              > li {

                > a {
                  color: $color-white;
                  background-color: $color-grey-500;
                }
      
                &:not(:last-child) {
                  
                  > a {
                    border-bottom: 1px solid $color-grey-600;
                  }
      
                }

                &:first-child {

                  > a {
                    border-top: 1px solid $color-grey-600;
                  }

                }
      
                &:hover,
                &:focus-within {
      
                  > a {
                    color: $color-white;
                    background-color: $color-grey-700;
                  }
      
                }
      
                &.current-menu-item {
      
                  > a {
                    background: $color-black;
                  }
      
                  &:hover,
                  &:focus-within {
      
                    > a {
                      background: $color-black;
                    }
      
                  }
      
                }

              }

            }

          }

        }

      }

    }

  }

}


/* --------- SMALL DEVICE --------- */

@include media-down($nav-breakpoint) {

  .navigation {
    position: fixed !important;
    left: -$nav-width-sm;
    width: $nav-width-sm;
    top: $header-height-sm; //variable in header.scss
    bottom: 0;
    z-index: 1000;
    background-color: $color-grey-900;
    height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    @include transition (left 0.3s ease-out);

    &.opened {
      left: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        display: block;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        line-height: 1;
        text-align: left;

        &:before {
          display: none;
        }

        .dropdown-toggle {
          display: inline-block;
        }

        a {
          display: block;
          font-size: 16px;
          font-weight: 400;
          padding: 15px;
        }

        ul {
          display: none;

          &.toggled {
            display: block;
          }

        }

      }

    }


    /* --- LEVEL ONE UNIQUE --- */

    > ul {
      padding-bottom: 200px;
      
      > li {
        border-bottom: 1px solid $color-grey-700;

        > a {
          color: $color-white;
          background-color: $color-grey-600;
        }

        &.current-menu-item {

          > a {
            background-color: $color-black;

            &::after {
              background-color: $color-black;
            }

          }

        }


        /* --- LEVEL TWO UNIQUE --- */

        > ul {

          > li {

            &:not(:last-child) {
              border-bottom: 1px solid $color-grey-800;
            }

            > a {
              color: $color-white;
              background-color: $color-grey-700;
            }

            &.current-menu-item {

              > a {
                background-color: $color-black;
    
                &::after {
                  background-color: $color-black;
                }
    
              }
    
            }


            /* --- LEVEL THREE UNIQUE --- */

            > ul {
    
              > li {

                &:not(:last-child) {
                  border-bottom: 1px solid $color-grey-900;
                }

                > a {
                  color: $color-white;
                  background-color: $color-grey-800;
                }

              }

              &.current-menu-item {

                > a {
                  background-color: $color-black;
      
                  &::after {
                    background-color: $color-black;
                  }
      
                }
      
              }
    
            }

          }

        }

      }

    }

  }

}


/* --------- SUBMENU DROPDOWN TOGGLE --------- */

.dropdown-toggle {
  position: absolute;
  top: 6px;
  right: 15px;
  content: "";
  height: 33px;
  width: 33px;
  border: 0;
  color: $color-grey-100;
  background-color: $color-black;
  padding: 0;
  margin: 0;
  font-family: $font-fontawesome;
  font-style: normal;
  font-size: 11px;
  line-height: 1;
  font-weight: 900;
  @include transition(all 0.3s ease-out);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &::after {
    content: '\f067';
  }

  &.toggled {

    &::after {
      content: '\f068';
    }

  }

}


/* --------- BURGER TOGGLE --------- */

.burger {
  position: relative;
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 36px;
  width: 41px;
  padding: 0 6px 4px;
  vertical-align: middle;

  @include media-up($nav-breakpoint) {
    display: none;
  }

  &__inner,
  &__inner::after,
  &__inner::before {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #fff;
  }

  &__inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms; 
    
    &::after,
    &::before {
      display: block;
      content: "";
    }

    &::before {
      top: -10px;
      @include transition (top 75ms ease .12s,opacity 75ms ease);
    }

    &::after {
      bottom: -10px;
      @include transition (bottom 75ms ease .12s);
      @include transform (75ms cubic-bezier(.55,.055,.675,.19));
    }

  }

  &.active {

    .burger {

      &__inner {
        @include transition-delay (.12s);
        @include transition-timing-function (cubic-bezier(.215,.61,.355,1));
        @include transform (rotate(45deg));

        &::before {
          top: 0;
          opacity: 0;
          @include transition (top 75ms ease,opacity 75ms ease .12s);
        }

        &::after {
          bottom: 0;
          @include transition (bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s);
          @include transform (rotate(-90deg));
        }

      }

    }

  }

}